body {
  background-color: gray; color: white;
}
.contentheader {
font-family: Arial; padding: 50px; margin:40px;
}
.contentheader:hover{
  color: #ada5a5;
}
.content{
font-family: sans-serif; padding: 20px; text-align: center; font-size: 120%;
}
.bold {
  font-weight: bold;
}
.italic{
  font-style: italic;
}
.center{
  text-align: center;
}

.backgroundcolor{
  background-color: gray;
}
#background{
   background-image: url("https://pbs.twimg.com/profile_images/575398133192069120/gvl4VNI0_400x400.jpeg"); background-attachment:fixed;
   background-size:contain;

}
#mainheader {
font-style: oblique;
}
#footer {
 font-style: italic;
}
